<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VolumeMixerPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
         </sectionGroup>
    </configSections>
    <userSettings>
        <VolumeMixerPlus.Properties.Settings>
            <setting name="IncreaseCurrentVolumeKeyCombinationAsString" serializeAs="String">
                <value>Control+VolumeUp</value>
            </setting>
            <setting name="DecreaseCurrentVolumeKeyCombinationAsString" serializeAs="String">
                <value>Control+VolumeDown</value>
            </setting>
            <setting name="MuteCurrentKeyCombinationAsString" serializeAs="String">
                <value>Control+VolumeMute</value>
            </setting>
            <setting name="SwitchAudioDeviceKeyCombinationAsString" serializeAs="String">
                <value>Control+PageUp</value>
            </setting>
            <setting name="IncreaseAllVolumeKeyCombinationAsString" serializeAs="String">
                <value>Alt+VolumeUp</value>
            </setting>
            <setting name="DecreaseAllVolumeKeyCombinationAsString" serializeAs="String">
                <value>Alt+VolumeDown</value>
            </setting>
            <setting name="MuteAllKeyCombinationAsString" serializeAs="String">
                <value>Alt+VolumeMute</value>
            </setting>
        </VolumeMixerPlus.Properties.Settings>

    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
